
@media only screen and (max-width:600px){
    .gridcontainer{
        display: grid;
        grid-template-columns: auto, auto, auto, auto, auto;
        grid-template-rows: auto, auto, auto, auto, auto;
        
    }
    
    h1{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: blanchedalmond
    }
    .navicon{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: brown;
    }
}
